<.form for={@form} phx-change="validate">
  <.input type="text" id="a" field={@form[:email]} />
  <%!-- <.input type="email" field={@form[:email]} />
  <.input type="password" field={@form[:password]} /> --%>
</.form>
