@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply text-slate-600;

  margin: 0px;
  padding: 0px;

  font-family: 'Noto sans', 'Courier New', Courier, monospace;
}